body{
    background: #F0F0F0 !important;
}

h1{
    text-align: center;
    padding: 16px;
    font-family: 'Raleway', sans-serif;    
}

.card{
    width: 72%;
    height: 40%;
    margin-bottom: 24px;
}

.card:hover{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.card  img{
    width: 100%;
    height: auto;
    overflow: auto;
    border-radius: 2px;
}

.card-block{
    font-family: 'Roboto', sans-serif;  
}
