{% extends "base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}


{% block content %}
  <head>

    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto:300" rel="stylesheet">
      
    <link rel="stylesheet" type="text/css" href="{% static "blog/blog_index_page.css" %}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    
    <title>Blog</title>
  </head>
  <body>
    <h1>Blog</h1>
  

  <div class="container">
    <div class="card-columns">
      {% for post in blogpages %}
        {% with post=post.specific %}
          <a href="{% pageurl post %}">
            <div class="card">
            {% with post.post_image as main_image %}
            {% if main_image %}
              {% image main_image width-350 as tmp_image %}
              <img src="{{ tmp_image.url }}" width="{{ tmp_image.width }}"
              height="{{ tmp_image.height }}" alt="{{ tmp_image.title }}" class="img-fluid" />
          
            {% endif %}
            {% endwith %}
            <div class="card-block">
                <h5 class="card-title"> {{ post.title }} </h3>
            </div>

            </div> 
          </a>
          
        {% endwith %}
      {% endfor %}
    </div>
  </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static "blog/blog.js" %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  </body>

  {% endblock %}
