{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% load static %}
{% load staticfiles %}

{% block content %}
  <head>

    <link href="https://fonts.googleapis.com/css?family=Raleway|Roboto:300" rel="stylesheet">   
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static "blog/blog_page.css" %}">
    
  </head>
    <body>
      <header>
    <h1>{{ page.title }}</h1>
    <h5>{{ page.date }}</h5>
 
    {% with categories=page.categories.all %}
    {% if categories %}

    <div class="d-block">
            
    {% for category in categories %}
            {{ category.name }}
    {% endfor %}
    </div>
  </header>
    
    {% endif %}
{% endwith %}

    <div class="centeredImage">
    {% image page.post_image width-800 as main_photo %}

    <img src="{{ main_photo.url }}" width="{{ main_photo.width }}"
    height="{{ main_photo.height }}" alt="{{ page.photo.title }}" class="img-fluid img-margin" />
    </div>

    <div class="container">
    {{ page.body|richtext }}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>

  <footer>
    Designed by Jerry Lee. For more visit <a href="https://www.jerrylee.io/">Here</a>
  </footer>
  {% endblock %}